
*{
    border:none;
    padding:none;
    box-sizing: border-box;
}

.navbar {
  width:100%;
  background-color: #ffffff;
  padding: 16px 120px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  width:auto;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.btn {
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: #30B868;
  color: #ffffff;
}

.btn:hover {
  background-color: #1e5120;
  color:antiquewhite;
}


