* {
  margin: 0;
  border: 0;
  padding:0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #ffffff;
  padding: 16px 120px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
.btn {
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: #30b868;
  color: #ffffff;
}

.btn:hover {
  background-color: #1e5120;
  color: antiquewhite;
}

/* hero section */

.hero {
  background-image: url("assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: relative;
}

.hero-overlay {
  inset: 0;
  margin: 0px;
  background: rgba(7, 28, 45, 0.75);
  position: absolute;
}

.hero-content {
  text-align: center;
  margin: 0 auto;
  padding: 130px 0 170px;
  position: relative;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: #ffffff;
  padding: 8px 12px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 16px;
}

.hero h1 {
  font-size: 72px;
  opacity: 90%;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #30b868;
}

.hero p {
  font-size: 18px;
  line-height: 1.5;
  word-spacing: 0.15em;
  color: #ffffff;
  margin: 0 auto 36px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mid-left-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 22px;
}

.mid-right-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #ffffff;
  padding: 12px 16px;
}

.mid-right-btn:hover {
  background: rgba(208, 208, 208, 0.23);
  color: wheat;
}


/* Notes Section */

.notes {
  background: #ffffff;
  text-align: center;
}
.title{
  padding: 44px 0px;
}
.title h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 16px;
  color: #6b7280;
  
}

.notes-grid {
  display: grid;
  width:85%;
  margin:0px auto;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  
}

.notes-card {
  background: #ffffff;
  padding: 36px 24px;
  border-radius: 8px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-items: center;
  text-align: center;
}

.icon-circle {
  width: 56px;
  height: 56px;
  background: #F95555; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}

.icon-circle img {
  width: 24px;
  height: 24px;
}

.notes-card h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.notes-card p {
  font-size: 16px;
  line-height: 1.6;
  color: #6b7280;
}