* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #ffffff;
  padding: 16px 120px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
.btn {
  padding: 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: #469165;
  color: #ffffff;
}

.btn:hover {
  background-color: #1e5120;
  color: antiquewhite;
}

/* hero section */

.hero {
  background-image: url("assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: relative;
}

.hero-overlay {
  inset: 0;
  margin: 0px;
  background: rgba(7, 28, 45, 0.75);
  position: absolute;
}

.hero-content {
  text-align: center;
  margin: 0 auto;
  padding: 130px 0 170px;
  position: relative;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: #ffffff;
  padding: 8px 12px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 16px;
}

.hero h1 {
  font-size: 72px;
  opacity: 90%;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #30b868;
}

.hero p {
  font-size: 18px;
  line-height: 1.5;
  word-spacing: 0.15em;
  color: #ffffff;
  margin: 0 auto 36px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mid-left-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.mid-right-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #ffffff;
  padding: 12px 16px;
}

.mid-right-btn:hover {
  background: rgba(208, 208, 208, 0.23);
  color: wheat;
}



/* Notes Section */

.notes {
  background: #ffffff;
  text-align: center;
}
.title {
  padding: 44px 0px;
}
.title h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 16px;
  color: #6b7280;
}

.notes-grid {
  display: grid;
  width: 85%;
  margin: 0px auto;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.notes-card {
  background: #ffffff;
  padding: 36px 24px;
  border-radius: 8px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-items: center;
  text-align: center;
}

.icon-circle {
  width: 56px;
  height: 56px;
  background: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}

.icon-circle img {
  width: 24px;
  height: 24px;
}

.notes-card h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.notes-card p {
  font-size: 16px;
  line-height: 1.6;
  color: #6b7280;
}


/* second brain */


.sec-brain {
  width: 100%;
  background-color: #ffffff;
  padding: 120px 5%;
}

.sec-brain-content {
  display: flex;
  align-items:center;
  gap: 60px;
}

.sec-brain-left {
  width: 45%;
  display: flex;
  justify-content: center;
}

.sec-brain-left img {
  width: 90%;
  height: auto;
}

.sec-brain-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sec-brain-tag {
  font-size: 16px;
  font-weight: 600;
  color: #469165;
}

.sec-brain-right h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #001931;
}

.sec-brain-right p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 16px;
}

.sec-brain-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sec-brain-list li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #001931;
  margin-bottom: 12px;
}

.sec-brain-list li img {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}


/* Early access */


.early {
  width: 85%;
  margin: 0 auto 120px;
  padding: 120px 24px;
  text-align: center;
  background: #f7f6f2;
}

.early h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #001931;
}

.early p {
  font-size: 16px;
  color: #627382;
  max-width: 580px;
  margin: 0 auto 32px;
}

.down-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.early-note {
  display: block;
  margin-top: 16px;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  color: #627382;
}


/* footer */

.footer {
  width: 100%;
  background-color: #001931;
}

.footer-inner {
  width: 85%;
  margin: 0 auto;
  padding: 120px 0 80px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo img {
  height: 60px;
  width: auto;
}

.footer-social {
  text-align: left;
}

.social-title {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 16px;
  line-height: 20px;
  font-weight: 500;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}
.footer-divider {
  margin-top: 80px;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}

.footer-copy {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
}
